@page
@model ArkansasAssetBuilders.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>
<p>This website was created by Julia Dick, Garrett Collier, Catherine Mariza, and Olivia Larson.</p>
<p>Fall 2021</p>