@page
@model ArkansasAssetBuilders.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>
<p>This website was made by Julia Dick, Garret Collier, Catherine Mariza, and Olivia Larson</p>

