@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/Images/aab-logo-web-textonly.png" width="1000" height="250" alt="Arkansas Asset Builders" />
<div class="text-left">
    <h1 class="display-4">Step 1: Upload</h1>

    <div class="text-center">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label class="file">
                    <input type="file" asp-for="fileUpload.FormFiles" multiple aria-label="File browser example">
                    <span class="file-custom"></span>
                </label>
                <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
            </div>

            @{
                if (ViewData["SuccessMessage"] != null)
                {
                    <span class="badge badge-success"> @ViewData["SuccessMessage"]</span>
                }
            }
        </form>
    </div>
</div>

<div class="text-left">
    <h1 class="display-4">Step 2: Merge</h1>
    <p> Select the files to be merged (or removed). Assign a Tax Year for each file.</p>
    <h1 class="display-4">Step 3: Generate Reports</h1>
    <h2>Client Report</h2>
    <p>Search by Client ID, name, or date of birth</p>
    <h1 class="display-4">Step 4: Export Report</h1>
    <p>Select the tables to be exported (or removed)</p>
</div>
