@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Step 1</h1>
    <p>Choose files to upload</p>

    <form enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="file">
                <input type="file" asp-for="fileUpload.FormFiles" multiple aria-label="File browser example">
                <span class="file-custom"></span>
            </label>
            <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
        </div>


        @{
            if (ViewData["SuccessMessage"] != null)
            {
                <span class="badge badge-success"> @ViewData["SuccessMessage"]</span>
            }
        }
    </form>
</div>

<div class="text-left">
    <h1 class="display-4">Step 2</h1>
    <p> Select the files to be merged (or removed). Assign tax year for each file </p>
    <h1 class="display-4">Step 3</h1>
    <p> Generate reports</p>
    <h1 class="display-4">Step 4</h1>
    <p>Export report</p>
    <p>Select the tables to be exported (or removed)</p>
</div>
