
ArkansasAssetBuilders/.vs/ArkansasAssetBuilders/config/

ArkansasAssetBuilders/bin/Debug/net5.0/

*.editorconfig

*.pdb

ArkansasAssetBuilders/obj/

*.dll

*.json

ArkansasAssetBuilders/.vs/ArkansasAssetBuilders/v16/

ArkansasAssetBuilders/.vs/ArkansasAssetBuilders/xs/project-cache/

ArkansasAssetBuilders/.vs/ArkansasAssetBuilders/xs/
